.Order__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;

}

.Order__wrapper_left {
    max-width: 660px;
    min-height: 100vh;
    flex: 1;
    padding: 40px;
    border-right: 1px solid rgb(206, 206, 206);


}

.Delivery__section {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid grey;
}
.Delivery__section div {
    padding: 16px;

}

.Order__wrapper_left input {
    outline: none;
    padding: 16px;
    border: none;
    border: 1px solid grey;
    border-radius: 5px;
}

.Order__wrapper_right  {
    background-color: rgb(240, 240, 240);
    max-width: 660px;
    min-height: 100vh;
    flex: 1
}


.Order__section {
    display: grid;
    gap: 20px; 
  }
  
  .Order__section--address {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .Order__input {
    grid-column: span 2; 
  }
  
  .Order__input--half {
    grid-column: span 1;
  }


  .complete_order {
    width: 100%;
    padding: 16px;
    outline: none;
    border: none;
    background: none;
    margin: 20px 0;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
  }



  .Order__wrapper_right {
    padding: 20px;
  }
  .promo_code {
    display: flex;
    gap: 10px;
  }

  .promo_code input {
    padding: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    border: 1px solid grey;

  }

  .promo_code button {
    padding: 16px 24px;
    border: none;
    border-radius: 5px;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
  }

  .Order__items {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
  }