.Sidebar {
    /* height: calc(100vh - var(--navbar-height)); */
    width: var(--sidebar-width);
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    transition: width 0.4s;
    position: absolute;
    height: calc(100vh - var(--navbar-height));
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.collapseBtn {
    position: absolute;
    right: -14px;
    top: 14px;
}

.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.overlay {
    background: black;
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    opacity: 0;
    pointer-events: none; /* Отключает взаимодействие, когда невидимо */
    transition: opacity 0.3s ease; /* Плавный переход */
    z-index: 1;
}

.overlayActive {
    opacity: 0.5; /* Видимое состояние */
    pointer-events: auto; /* Включает взаимодействие */
}
