.products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    padding: 20px;
    width: 100%;
    height: auto;
}

@media (max-width: 980px) {
    .products__list {
        grid-template-columns: repeat(2, 1fr);
    }
}
